
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}
<div>
    <div class="d-flex">
        <img class="userImage rounded-2" />
        <div class="ms-3">
            <span class="userName fw-bold fs-5"></span>
            <span class="userPhome fs-6 text-gray-500"></span>
        </div>
    </div>
    <div class="mt-3">
        <span class="fw-bold fs-6 text-red-600" id="validation"></span>
    </div>
    <div class="row">
        <div class="mt-4 col-md-5 col-12">
            <div><span>Tên tài khoản</span>&nbsp;<span class="text-red-700">&lowast;</span></div>
            <div><input id="Name" type="text" class="form-control input-group" /></div>
        </div>
        <div class="mt-4 col-md-5 col-12">
            <div><span>Mật khẩu</span>&nbsp;<span class="text-red-700">&lowast;</span></div>
            <div><input id="Pass" type="password" class="form-control input-group" /></div>
        </div>
        <div class="mt-4 col-md-5 col-12">
            <div><span>Email khôi phục</span>&nbsp;<span class="text-red-700">&lowast;</span></div>
            <div><input id="Email" type="text" class="form-control input-group" /></div>
        </div>
        <div class="mt-4 d-flex gap-2">
            <button id="btnUpdate" class="btn btn-primary fw-bold">Cập nhật</button>
            <button id="btnCancle" class="btn btn-danger fw-bold">Hủy</button>
            <button id="btnSave" class="btn btn-primary fw-bold">Lưu</button>
            <button id="btnChangePassword" class="btn btn-primary fw-bold">Đổi mật khẩu</button>
        </div>
        <div class="mt-5">
            (<span class="text-red-700">&lowast;</span>):&nbsp; Trường bắt buộc
        </div>
    </div>
    <div id="changePasswordModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Đổi mật khẩu&nbsp;<span class="userName"></span></h5>
                    <button type="button" class="close btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form id="changePasswordForm">
                        <input type="hidden" id="accountId" name="accountId">
                        <div class="form-group">
                            <label for="currentPassword">Mật khẩu hiện tại</label>
                            <div class="input-group">
                                <input type="password" id="currentPassword" class="form-control" placeholder="Nhập mật khẩu hiện tại">
                                <span class="input-group-text bg-white">
                                    <i id="toggleCurrentPassword" class="bi bi-eye"></i>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="newPassword">Mật khẩu mới</label>
                            <div class="input-group">
                                <input type="password" id="newPassword" class="form-control" placeholder="Nhập mật khẩu mới">
                                <span class="input-group-text bg-white">
                                    <i id="toggleNewPassword" class="bi bi-eye"></i>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirmNewPassword">Nhập lại mật khẩu mới</label>
                            <div class="input-group">
                                <input type="password" id="confirmNewPassword" class="form-control" placeholder="Nhập lại mật khẩu mới">
                                <span class="input-group-text bg-white">
                                    <i id="toggleConfirmNewPassword" class="bi bi-eye"></i>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="savePasswordButton">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const btnUpdate = document.getElementById('btnUpdate');
        const btnCanle = document.getElementById('btnCancle');
        const btnSave = document.getElementById('btnSave');
        const Msg = document.getElementById('validation');
        const cusID = localStorage.getItem('customerid');
        // Hiện modal khi nhấn nút Đổi mật khẩu
        $('#btnChangePassword').on('click', function () {
            $('#changePasswordModal').modal('show');
        });

        const toggleIcons = [
            { input: 'currentPassword', toggle: 'toggleCurrentPassword' },
            { input: 'newPassword', toggle: 'toggleNewPassword' },
            { input: 'confirmNewPassword', toggle: 'toggleConfirmNewPassword' }
        ];

        toggleIcons.forEach(item => {
            const inputField = document.getElementById(item.input);
            const toggleIcon = document.getElementById(item.toggle);

            toggleIcon.addEventListener('click', function () {
                const isPassword = inputField.type === 'password';
                inputField.type = isPassword ? 'text' : 'password';
                toggleIcon.classList.toggle('bi-eye', !isPassword);
                toggleIcon.classList.toggle('bi-eye-slash', isPassword);
            });
        });

        // Lưu mật khẩu
        $('#savePasswordButton').on('click', function () {
            var formData = {
                cusId: cusID,
                currentPassword: $('#currentPassword').val(),
                newPassword: $('#newPassword').val(),
                confirmNewPassword: $('#confirmNewPassword').val()
            };

            $.ajax({
                url: '@Url.Action("ChangePassword", "UserDashboard")',
                type: 'POST',
                data: formData,
                success: function (response) {
                    alert(response.message);
                    if (response.success) {
                        $('#changePasswordModal').modal('hide');
                        $('#changePasswordForm')[0].reset();
                    }
                },
                error: function () {
                    alert('Có lỗi xảy ra, vui lòng thử lại.');
                }
            });
        });
        
        document.getElementById('Pass').disabled = true;
        const bindData = () => {
            fetch(`/UserDashboard/accounts?id=${cusID}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
                .then(res => {
                    if (!res.ok) {
                        throw new Error("Network response not ok")
                    }
                    return res.json();
                })
                .then(data => {
                    console.log(data.status);
                    if (data.status == '200') {
                        document.getElementById('Name').value = data.name;
                        document.getElementById('Pass').value = data.pass;
                        document.getElementById('Email').value = data.email;
                    }
                }).catch(err => console.log(err))
        }
        bindData();
        const setDisabled = (isEnable) => {
            document.getElementById('Name').disabled = isEnable;
            document.getElementById('Email').disabled = isEnable;
        }

        setDisabled(true);
        btnSave.classList.toggle('d-none');
        btnCanle.classList.toggle('d-none');
        btnUpdate.addEventListener('click', () => {
            btnSave.classList.remove('d-none');
            btnCanle.classList.remove('d-none');
            btnUpdate.classList.toggle('d-none');
            setDisabled(false);
        })
        btnCanle.addEventListener('click', () => {
            setDisabled(true)
            btnSave.classList.toggle('d-none');
            btnCanle.classList.toggle('d-none');
            btnUpdate.classList.remove('d-none');
        })
        btnSave.addEventListener('click', () => {
            const userName = document.getElementById('Name').value;
            const userMail = document.getElementById('Email').value;
            const account = {
                id: cusID,
                username: userName,
                email: userMail,
            }
            const requestOptions = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(account),
            };
            if (userMail == '' || userName == '') {
                Msg.textContent = 'Vui lòng nhập đầy đủ các trường!'
                setTimeout(() => {
                    Msg.textContent = '';
                }, 3000)
            } else {
                btnSave.classList.toggle('d-none');
                btnCanle.classList.toggle('d-none');
                btnUpdate.classList.remove('d-none');
                fetch("/UserDashboard/accounts", requestOptions)
                    .then(res => {
                        return res.json();
                    })
                    .then(data => {
                        if (data.status == '200') {
                            Msg.textContent = 'Cập nhật thông tin thành công!';
                            Msg.classList.remove('text-red-600');
                            Msg.classList.toggle('text-green-600');
                            setDisabled(true);
                            bindData()
                            setTimeout(() => {
                                Msg.textContent = '';
                            }, 3000)
                        }
                    }).catch(err => console.log(err))
            }
        })
    });//DOMContentLoaded
</script>



